:root {
  --background-app: #eaeef2;
  --white-color: #F2F2F2;
  --button-color: #4981F2;
  --border-input: #3B8DBF;
  --background-input: #dbe4f9fb;
  --svg-img: #025959;
  --color-text: #BCBDC2;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

.app {
  height: 100vh;
}

.container {
  display: flex;
  background: #FFFFFF;
  height: 100%;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;

  opacity: 0;
  transform:translateY(-20px) ;

  animation-name: appear;
  animation-duration: .9s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-direction: normal;
  animation-fill-mode: forwards;
  
}

.intro {
  color: var(--color-text);
}

.intro > h1 {
  color: #000;
  margin: 12px 0 12px 0;
}

.intro > p {
  margin-bottom: 30px ; 
}

.intro > p > a {
  margin-left: 4px;
  text-decoration: none;
  color: var(--button-color);
}

.form-container {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  border-radius: 16px;
  padding: 12px;
  color: #000;
}
.form-container-login {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  border-radius: 16px;
  padding: 12px;
  width: 350px;
}

input {
  margin: 8px;
  padding: 0 0 0px 8px;
}

.input {
  background: var(--background-input);
  height: 42px;
  border-radius: 8px;

}

.input-group{
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}

.input-password {
  border: 2px solid var(--border-input);
  border-radius: 12px;
  height: 42px;
}

input:focus, button:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

.input> ::-webkit-input-placeholder  { color: gray }
.input-password> ::-webkit-input-placeholder  { color: rgb(96, 112, 233) }

.button-create {
  margin: 8px;

  background: var(--button-color);
  color: #FFF;

  height: 44px;
  width: 97%;

  border-radius: 32px;

  cursor: pointer;
}

.button-create:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: black;
}


@keyframes  appear {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}


