:root {
  --background-app: #eaeef2;
  --white-color: #F2F2F2;
  --button-color: #4981F2;
  --border-input: #3B8DBF;
  --background-input: #dbe4f9fb;
  --svg-img: #025959;
  --color-text: #BCBDC2;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

.app {
  height: 100vh;
}

.container {
  display: flex;
  background: #FFFFFF;
  height: 100%;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 6;

  height: 100%;
  width: 320px;

  opacity: 0;
  transform:translateY(-20px) ;

  animation-name: appear;
  animation-duration: .9s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-direction: normal;
  animation-fill-mode: forwards;
  
}

.intro {
  color: var(--color-text);
}

.intro > h1 {
  color: #000;
  margin: 12px 0 12px 0;
}

.intro > p {
  margin-bottom: 30px ; 
}

.intro > p > a {
  margin-left: 4px;
  text-decoration: none;
  color: var(--button-color);
}

.form-container {
  color: #000;
}
.form-container-login {
  width: 50%;
}

input {
  margin: 8px;
  padding: 0 0 0px 8px;
}

.input {
  background: var(--background-input);
  height: 42px;
  border-radius: 8px;

}

.input-group{
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}

.input-password {
  border: 2px solid var(--border-input);
  border-radius: 12px;
  height: 42px;
}

input:focus, button:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

.input> ::-webkit-input-placeholder  { color: gray }
.input-password> ::-webkit-input-placeholder  { color: rgb(96, 112, 233) }

.button-create {
  margin: 8px;

  background: var(--button-color);
  color: #FFF;

  height: 44px;
  width: 97%;

  border-radius: 32px;

  cursor: pointer;
}

.aside-container {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='960' height='969' preserveAspectRatio='none' viewBox='0 0 960 969'%3e%3cg mask='url(%26quot%3b%23SvgjsMask2456%26quot%3b)' fill='none'%3e%3crect width='960' height='969' x='0' y='0' fill='url(%23SvgjsLinearGradient2457)'%3e%3c/rect%3e%3cpath d='M411.3 1045.22C514.5 959.23 383.2 637.1 626.5 552.86 869.8 468.62 925.2 258.36 1056.9 242.78' stroke='rgba(51%2c121%2c194%2c0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M183.62 1072.26C338.96 874.84 241.65 213.56 476.13 110.94 710.61 8.32 622.39 232.07 768.65 232.06 914.9 232.07 982.05 113.3 1061.16 110.94' stroke='rgba(51%2c121%2c194%2c0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M156.45 980.68C306.81 843.35 248.81 279.26 462.49 225.82 676.18 172.38 615.52 346.94 768.54 346.94 921.56 346.94 992.32 228 1074.58 225.82' stroke='rgba(51%2c121%2c194%2c0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M224.48 999.02C326.61 973.83 364.44 699.49 517.93 697.47 671.41 695.45 664.65 818.6 811.37 818.6 958.1 818.6 1025.49 699.82 1104.82 697.47' stroke='rgba(51%2c121%2c194%2c0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M523.81 1043C633.82 1002.44 579.53 775.65 811.06 672.27 1042.59 568.89 977.27 270.61 1098.31 207.15' stroke='rgba(51%2c121%2c194%2c0.58)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask2456'%3e%3crect width='960' height='969' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='100.23%25' y1='99.77%25' x2='-0.23%25' y2='0.23%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient2457'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(255%2c 255%2c 255%2c 0.8)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(255%2c 255%2c 255%2c 0.8)' offset='0.09'%3e%3c/stop%3e%3cstop stop-color='rgba(255%2c 255%2c 255%2c 0.8)' offset='0.29'%3e%3c/stop%3e%3cstop stop-color='rgba(255%2c 255%2c 255%2c 0.8)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");  
  flex: 6;
}

@keyframes  appear {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
