.div-finance-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 75px;

  margin: 64px;

  background: rgb(96, 112, 233);
  color: #c1eeff;

  font-size: 1.3rem;

  border-radius: 12px;
}

.div-finance-container-extra{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 64px;

  color: #c1eeff;

  font-size: 1.3rem;

  border-radius: 12px;
}

.div-finance-content{
  background: rgb(96, 112, 233);
  color: #c1eeff;
  border-radius: 12px;
  width: 100%;
}


.td-functions {
  cursor: pointer;
}

.content {
  display: flex;
  justify-content:space-between;
  width: 70%;
}

.new-finance:hover{
  background: white;
  cursor: pointer;
}

.div-inputs{
  border-bottom: 1px solid #000;
}