.header-container {
  height: 50px;
  background: rgb(96, 112, 233);
  color: #070707;
  font-size: 1.2rem;
}

.div-header-content {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
 
}

.div-header-content div {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 8px;

  cursor: pointer;
}

.div-header-content div svg {
  width: 1.8em;
  height: 1.8em;
}

.div-header-content div button {
  background: rgb(96, 112, 233);
  color: #070707;
  cursor: pointer;
}

.div-header-content div button svg {
  width: 1.8em;
  height: 1.8em;
}
